<html>
  <head>
	<!-- <link rel="stylesheet" type="text/css" href="/css/site.css"> -->
	<!-- <link rel="icon" type="image/png" sizes="16x16" href="/img/favicon.png"> -->
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>weight-watcher</title>
  </head>

  <body>
    <main>

	  <h1>Hello, world!</h1>

	  <form action="/weight" method="get">
		<label for="weight">Enter weight:</label>
		<input autocomplete="on" type="number" step="0.1" id="w" name="w" />
		<input type="submit" value="Submit" />
	  </form>

	  <h2>Recent Weights</h2>

	  <table>
		<thead>
		  <tr>
			<th>Date</th>
			<th>Weight</th>
		  </tr>
		</thead>
		<tbody>
		  {{table}}
		</tbody>
	  </table>

	  <img src="/tmp/weight-watcher.png" style="width:100%;max-width:640px">

	</main>
  </body>
</html>
